BODY      {background-color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; margin:0; padding:0}
H1        {color:#003399; font-family: Arial, Helvetica, sans-serif;}
H2        {color:#003399; font-family: Arial, Helvetica, sans-serif;}
A:link    {text-decoration:underline; color:#003399}
A:visited {text-decoration:underline; color:#003399}
A:hover   {text-decoration:underline; color:red}
UL        {margin-top: 0px}
.trailer  {font-size:smaller; text-align:center; margin-top: 0px}
@media only screen and (max-width: 640px) {
  /* narrow screen styling */
  #container {margin: 0 auto; max-width: 300px; margin-top:10px}
  .column1 {float:left; width:140px; padding-left:80px}
  .column2 {float:left; width:300px; padding-left:10px; padding-right:10px;margin-left: 120px;}
  .row {clear:left}
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* tablet screen styling */
  #container {margin: 0 auto; max-width: 600px; margin-top:10px; font-size:16px}
  .column1 {float:left; width:140px; padding-left:10px; padding-right:10px; padding-top: 25px}
  .column2 {float:left; width:420px; padding-left:10px; padding-right:10px;margin-left: 120px;}
  .row {clear:left}
}
@media only screen and (min-width: 1025px) {
  /* wide screen styling */
  #container {margin: 0 auto; max-width: 960px; margin-top:10px; font-size:17px}
  .column1 {float:left; width:140px; padding-left:10px; padding-right:10px; padding-top: 15px}
  .column2 {float:left; width:700px; padding-left:10px; padding-right:10px;margin-left: 120px;}
  .row {clear:left}
}
@media print {
  /* #container {margin: 0 auto; max-width: 600px; margin-top:10px; font-size:16px} */
  #container {margin: 0 auto; max-width: 700px; margin-top:10px; font-size:14px}
  .column1 {float:left; width:140px; padding-left:10px; padding-right:10px; padding-top: 25px}
  .column2 {float:left; width:500px; padding-left:10px; padding-right:10px;margin-left: 120px;}
  .row {clear:left}
}